.header {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  background-color: #c0bebe;
}

.header__title {
  font-weight: lighter;
  font-size: 1.4rem;
  padding-left: 1.5rem;
}

.header__my-lists {
  background-color: transparent;
  border: none;
  font-size: 1.4rem;
  padding-right: 1.5rem;
}

.header__my-lists:hover {
  cursor: pointer;
}