.addTodo {
  padding-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25rem;
}

.addTodo-form {
  width: 80%;
  padding: 1rem;
  border-radius: 1rem;
  border: 4px solid #1E80C1;
}

.form__add,
.form__title,
.form__description {
  background-color: transparent;
  border: none;
}

.form__add {
  font-size: 1.2rem;
  padding: 0 1rem;
  margin-right: 0.5rem;
}

.form__add:hover {
  cursor: pointer;
}

.form__title::placeholder,
.form__description::placeholder {
  color: #414C6B;
}

.form__title {
  width: 70%;
  font-size: 1.4rem;
}

.form__description {
  margin-top: 1rem;
  width: 100%;
  font-size: 1.2rem;
}

.form__title:focus,
.form__description:focus {
  outline: none;
}

@media screen and (min-width: 500px) {
  .addTodo {
    width: 30rem;
  }
}

@media screen and (min-width: 700px) {
  .addTodo {
    width: 40rem;
  }
}

@media screen and (min-width: 1000px) {
  .addTodo {
    width: 60rem;
  }
}