.todo-container {
  width: 90%;
  max-width: 1000px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .addTodo {
    width: 100%;
  }
}