.footer {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  background-color: #c0bebe;
}

.footer__name {
  font-size: 0.8rem;
}