.task-page {
  padding: 4rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.task-page__pop-up {
  width: 80%;
  max-width: 750px;
  position: absolute;
  margin: 1rem 3rem 0;
  background-color: #8C8C8C;
  padding: 1.5rem 1rem;
  border: 0.1rem solid #8C8C8C;
  border-radius: 0.3rem;
  z-index: 5;
}

.pop-up__close {
  padding-bottom: 0.5rem;
  float: right;
  font-size: 1.2rem;
  background-color: transparent;
  border: none;
}

.task-page__manage {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem 3rem 0;
  display: flex;
  justify-content: space-between;
}

.button__icon {
  font-size: 1.4rem;
  color: #0360CD;
}

.manage__button {
  background-color: transparent;
  border: none;
}

.task-page__list-name {
  padding: 3rem 3rem 4rem;
  text-align: center;
  font-size: 1.4rem;
}

.task-page__section-name {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  padding-bottom: 0.5rem;
  padding-left: 3rem;
}

.done-section {
  padding-top: 1rem;
}

.task-page__pedding,
.task-page__done {
  width: 100%;
  padding: 1rem 3rem;
  background-color: #c0bebe;
}

.hidden {
  display: none;
}