.todo-item {
  width: 80%;
  border-radius: 1rem;
  border: 2px solid #1E80C1;
  margin: 0.5rem 0;
}

.todo-item:hover {
  cursor: pointer;
}

.todo-item__name {
  padding: 0.5rem;
  font-size: 1.2rem;
  word-wrap: break-word;
}

.todo-item__desc {
  padding: 0 0.5rem 0.5rem;
  font-size: 1rem;
  word-wrap: break-word;
}

.done {
  text-decoration: line-through;
  order: 5;
}

.hidden {
  display: none;
}