.login-page,
.join-page {
  padding: 4rem 3rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-page__title,
.join-page__title {
  padding: 4rem 0;
  text-align: center;
  font-size: 1.4rem;
}

.login-page__form,
.join-page__form,
.home-page__form,
.task-page__form,
.pop-up__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.task-form {
  padding: 0 3rem;
}

.form__label {
  align-self: flex-start;
  padding-bottom: 0.5rem;
}

.form__input {
  width: 100%;
  height: 1.8rem;
  margin-bottom: 1.5rem;
  padding-left: 0.5rem;
  border: 0.1rem solid #8C8C8C;
  border-radius: 0.3rem;
}

.form__input:focus {
  outline: none;
}

.form__button-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.form__button {
  width: 4rem;
  height: 1.8rem;
  margin-bottom: 4rem;
  background-color: #0360CD;
  border: 0.1rem solid #0360CD;
  border-radius: 0.3rem;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

#add,
#remove {
  margin-bottom: 0;
}

#remove {
  background-color: #cd2b03;
  border-color: #cd2b03;
}

#task__button {
  margin-bottom: 1rem;
}

.login-page__sign-up,
.join-page__login {
  width: 100%;
  text-align: right;
  font-size: 1rem;
}

.sign-up__redirect,
.join__redirect {
  color: #0360CD;
  text-decoration: underline;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 1rem;
}